<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block content %}
<head>
  {% load staticfiles %}
</head>
{{DiscordUser}}
<h3>Click the button below to grab your stats from the Grumbo Server!</h3>
<br></br>
<button type="button" name="button"><a href="{%url 'discord_bind:statsget'%}">Get Stats</a></button>
<br></br>
<h3><u>{{name}} Here Are Your Stats:</u></h3>
<h4>Lv{{level}} with {{xp}} EXP | {{gold}} Gold</h4>
<h4>{{classId|capfirst}} Lv{{classLevel}} with {{classEXP}} EXP</h4>
<h4><img src='{% static "images/hp.png %"}'>HP {{hp}}/100</h4>
<h4><img src='{% static "images/pow.png %"}'>POW {{pow}} | <img src='{% static "images/wis.png %"}'>WIS {{wis}} | DEF {{df}}</h4>
<h4>RES {{res}} | SPD {{spd}} | LUK {{luk}}</h4>

<h3><u>Your Equipment</u>:</h3>
<h4>Head: {{head}}</h4>
<h4>Armour: {{armour}}</h4>
<h4>Bottoms: {{bottom}}</h4>
<h4>Weapon: {{weapon}}</h4>

<h3><u>Your Actives:</u></h3>
<h4>{{prebattle}},{{preresults}},{{postresults}}</h4>
<h3><u>Your Battle Record:</u></h3>
<h4>Wins {{wins}}  | Losses {{losses}}  | Win % {{winrate}}</h4>
<h4>You have {{battlesLeft}}/5 left</h4>
<h4>You will gain another battle chance in</h4>

<h3><u>Your Challenge Record:</u></h3>
<h4>Wins {{cwins}} | Losses {{closses}} | Win % {{cwinrate}}</h4>
<h4>You have {{challengesLeft}}/3 left</h4>
<h4>You will gain another challenge chance in</h4>

<h3><u>Your Items:</u></h3>
<h4>{{items}}</h4>


<!-- <h3>Shop:</h3>
<h4>{{shoprot}}:</h4> -->


{% endblock %}
