
{% extends "grumbo/base.html"%}
{% block body_block %}
<body>
  <div class="container">
    <div class="jumbotron">
      <h2><u>Class Information</u></h2>
      <h3>Class change to your preferred class. The starting class is a level 1 adventurer. Each class has different stat scaling, unique actives and boost your character in different ways. </h3>
      <h3>Classes level up independently of your character up to that class' max class level. Each class level can give new stats or active effects, some permanent and some unique to the class.</h3>
      <h3> 1 class experience is gained per battle, win or lose. .</h3>
      <h3>Classes level up at 25 class experience</h3>
      <h4>You can only class change once every 12 hours</h4>
<br></br>
</div>
  <div class="jumbotron">
      <h2><u>Adventurer</u></h2>
      <h3>Your typical Grumbo Adventurer. Specializes in nothing. <br></br>However, you can gain a permanent +2 boost to POW/WIS/DEF and +1 to RES/SPD/LUK every other class level!</h3>
      <h3>POW  B  |  WIS  B</h3>
      <h3>DEF    B  |  RES  B</h3>
      <h3>SPD    B  |  LUK  C</h3>
      <br></br>
      <h3>Max Lv: 5</h3>
      <h3>Lv 1:  The Adventurer gets no perks at class level 1.</h3>
      <h3>Lv 2:  Become more observant. Learn the <div class="tooltip"> Observation <span class="tooltiptext"> 10% chance to erase the level experience penalty.</div> active.</h3>
      <h3>Lv 3:  POW/WIS/DEF +2 and RES/SPD/LUK +1 when classed as an Adventurer.</h3>
      <h3>Lv 4:  RES +4 / LUK +5 when classed as an Adventurer.</h3>
      <h3>Lv 5:  Try your chances for a small reward with the Adventurer's Grab Bag</h3>
      <h3>Adventure Actives:</h3>
      <h3>Observation: 10% chance to erase the level experience penalty.</h3>
      <h3>Grab Bag: 66% chance to increase experience gained by 10 or gold gained by 25</h3>
<br></br>
</div>
<div class="jumbotron">
  <h2><u>Warrior</u></h2>
  <h3>Warrior packs a powerful punch but isn't the smartest about it. <br></br>Gain a permanent +2 boost to POW every class level.</h3>
  <h3>POW  A+  |  WIS  D+</h3>
  <h3>DEF    C+  |  RES  B</h3>
  <h3>SPD    B  |  LUK  C</h3>
  <h3>Max Lv: 5</h3>
  <h3>Lv 1:  A novice Warrior only knows the Wild Swing active.</h3>
  <h3>Lv 2:  POW +10 when classed as a Warrior.</h3>
  <h3>Lv 3:  POW +4 / DEF +2 / SPD +2 when classed as a Warrior.</h3>
  <h3>Lv 4:  The Warrior can reduce damage taken with Lifesteal.</h3>
  <h3>Lv 5:  Use Revenge as your HP lowers.</h3>
  <h3>Warrior Actives:</h3>
  <h3>Wild Swing: POW/8 % chance of increasing chance of victory by 10%. Against bosses, deals an extra 10 damage</h3>
  <h3>Lifesteal: 75% chance to reduce damage received by 2% of POW.</h3>
  <h3>Revenge: Higher chance of activation the lower the HP you are. Increases chance of victory by POW/12. Against bosses, deal extra damage equal to POW/5.</h3>
</div>

<br></br>
<div class="jumbotron">
  <h2><u>Rogue</u></h2>
  <h3>The quick and slippery rogue</h3>
  <h3>Gain a permanent +1 boost to SPD every class level.</h3>
  <h3>POW  B-  |  WIS  B+</h3>
  <h3>DEF    C  |  RES  A-</h3>
  <h3>SPD    A  |  LUK  A-</h3>
  <h3>Max Lv: 5</h3>
  <h3>Lv 1:  The Rogue very rarely gets a second chance when losing.</h3>
  <h3>Lv 2:  SPD +2 / LUK +2 when classed as a Rogue.</h3>
  <h3>Lv 3:  Quick Step your way to victory.</h3>
  <h3>Lv 4:  The Rogue can show enemies the Power of Wealth.</h3>
  <h3>Lv 5:  SPD +2 / POW +4 / RES +1 when classed as a Rogue</h3>
  <h3>Rogue Actives:</h3>
  <h3>Second Chance: When you lose, 4% chance to win instead.</h3>
  <h3>Quick Step: SPD% chance to increase chance of victory by 4%.</h3>
  <h3>Power of Wealth: (LUK * 0.8)% chance of increasing chance of victory by amount of gold held divided by 1500 and damage dealt by amount of gold held divided by 150.</h3>
</div>

<br></br>
<div class="jumbotron">
  <h2><u>Magician</u></h2>
  <h3>The Magician is pretty good at card tricks</h3>
  <h3>Gain a permanent +2 boost to WIS every class level.</h3>
  <h3>POW  C  |  WIS  S+</h3>
  <h3>DEF    C-  |  RES  A+</h3>
  <h3>SPD    B  |  LUK  C</h3>
  <h3></h3>
  <h3>Max Lv: 5</h3>
  <h3>Lv 1:  The Magician can Outsmart his enemies</h3>
  <h3>Lv 2:  WIS +15 when classed as a Magician.</h3>
  <h3>Lv 3:  WIS +6 / RES +2 when classed as a Magician</h3>
  <h3>Lv 4:  Increase your damage dealt with Explosion.</h3>
  <h3>Lv 5:  Decrease your damage received with Barrier.</h3>
  <h3>Magician Actives:</h3>
  <h3>Outsmart: 35% chance to double the WIS bonus chance in battle. Against bosses, increases damage dealt by initial WIS bonus chance as well.</h3>
  <h3>Explosion: 15% chance to increase damage by WIS/2. No effect in regular battles.</h3>
  <h3>Barrier: RES% chance to reduce damage received by WIS/12.</h3>
</div>

<br></br>
<div class="jumbotron">
  <h2><u>Cleric</u></h2>
  <h3>The highly resistant Cleric. Gain a permanent +1 boost to RES every class level.</h3>
  <h3>POW  D+  |  WIS  A</h3>
  <h3>DEF  D+  |  RES  S++</h3>
  <h3>SPD  B+  |  LUK  C</h3>
  <br></br>
  <h3>Max Lv:  5</h3>
  <h3>Lv 1:  The Cleric reduces damage received per battle with the Regen active.</h3>
  <h3>Lv 2:  RES +3 when classed as a Cleric.</h3>
  <h3>Lv 3:  The Cleric can further reduce damage received with the Miracle active.</h3>
  <h3>Lv 4:  Increase your battle strength with Holy</h3>
  <h3>Lv 5:  RES +1 / WIS +8 when classed as a Cleric.</h3>
  <h3>Cleric Actives:</h3>
  <h3>Regen: Reduce HP loss by 3 HP every battle.</h3>
  <h3>Holy: RES % chance to increase chance of victory by WIS/12 and damage by WIS/8.</h3>
  <h3>Miracle:(RES * 2)% chance to reduce damage received by 12. If you were to take damage that would reduce your HP to 0, (RES * 2)% chance to reduce your HP to 1 instead. The revive effect will not activate multiple times in a boss battle.</h3>
</div>

<br></br>
<div class="jumbotron">
  <h2><u>Knight</u></h2>
  <h3>The Knight is a sturdy fellow. Gain a permanent +2 boost to DEF every class level.</h3>
  <h3>POW  C+  |  WIS  D</h3>
  <h3>DEF    A+  |  RES  D-</h3>
  <h3>SPD    F  |  LUK  C</h3>
  <br></br>
  <h3>Max Lv:  5</h3>
  <h3>Lv 1:  The Knight can make full use of their Armory.</h3>
  <h3>Lv 2:  DEF +4 when classed as a Knight.</h3>
  <h3>Lv 3:  Recoil can activate against enemies</h3>
  <h3>Lv 4:  SPD +5 / RES +4 / POW +4 when classed as a Knight.</h3>
  <h3>Lv 5:  Stand Your Ground against weaker enemies.</h3>
  <h3>Knight Active:</h3>
  <h3>Armory: DEF/7 % chance to increase chance of victory and damage by the amount of equips in your inventory up to a maximum of 12.</h3>
  <h3>Recoil: POW/10 % chance to increase chance of victory by the difference between your POW and DEF divided by 5 and increases damage dealt against bosses by that same difference divided by 2</h3>
  <h3>Stand Your Ground: DEF/8 % chance to outright win against Grumbos who are lower level than you. Against bosses, DEF/8 % chance to reduce damage received by 7.</h3>
</div>

    </div>
  </div>
  {% endblock %}
