<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block content %}
{% if guide is None %}
<meta http-equiv="REFRESH" content="0;url={%url 'discord_bind:guideget'%}">
{%else%}
<meta http-equiv="REFRESH" content="6000000;url={%url 'discord_bind:guideget'%}">
{%endif%}
  <div class="container">
    <div class="jumbotron">
      <h1>Grumbo Guide</h1>
      <h2>{{guide|cut:"GRUMBO BATTLE BOT GUIDE"|linebreaks}}</h2>
      <br>
      <h2>{{guidetwo|linebreaks}}</h2>
      <br>
      <h2>{{guidethree|linebreaks}}</h2>
      <br>
      <h2>{{guidefour|linebreaks}}</h2>
      <br>
      <h2>{{guidefive|linebreaks}}</h2>
      <br>
      <h2>{{guidesix|linebreaks}}</h2>
  </div>
</div>

{% endblock %}
