<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block content %}

{% if user.is_authenticated %}
  {% if hola is None %}
  <meta http-equiv="REFRESH" content="0;url={%url 'discord_bind:equipget'%}">
  {%else%}
  <meta http-equiv="REFRESH" content="60;url={%url 'discord_bind:equipget'%}">
  {% endif %}
{%else%}

<h2>You are not Authorized To See This Page!</h2>
<h2>Please Login To Gain Access.</h2>
{% endif %}

{% for class,values in hola.items %}
<h2><u>{{class.capitalize}}</u></h2>

{%for each_item in values %}
<h4>{{each_item.name}} | Lv Req:{{each_item.level}} | Command:{{each_item.id}}</h4>
<h4>{{each_item.description}}</h4>
<h4>Active: {{each_item.active.capitalize}}</h4>
<h4>Value: {{each_item.value}} gold</h4>
<h7> . </h7>

{% endfor %}
{% endfor %}

{% endblock %}
