<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block content %}

<!-- <meta http-equiv="REFRESH" content="60;url={%url 'discord_bind:equipget'%}"> -->
<h3>This page is under construction!</h3>


<button type="button" name="button"><a href="{%url 'discord_bind:itemget'%}">All Items:</a></button>

<h3>Your Items are : {{filteritem}}</h3>
{% for class,values in hola.items %}


<h2>{{class.capitalize}}</h2>

{%for each_item in values %}
<h1>{{each_item.name}}</h1>
<h1>{{each_item.pow}}</h1>
<h2></h2>
{% endfor %}

{% endfor %}
<button type="button" name="button"><a href="{%url 'discord_bind:equipget'%}">All Equips:</a></button>
<h3>Your Equips are:</h3>
{% endblock %}
