<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block content %}

<h2 class="bossname1"  data-toggle="collapse" data-target=#special_items_shop><u>SPECIAL ITEMS SHOP</u></h2>
<div id="special_items_shop"class="jumbotron collapse">
<div class="row">
  {% for i, v in special_items_shop.items %}
  <div class="col-md-3">
  <h4><b>{{v.name}}</b> [{{v.stock}}]</h4>
  <h4>({{v.id}})</h4>
  <h4>{{v.price}} gold</h4>
  </div>
      {% if forloop.counter|divisibleby:4 and not forloop.last %}
      </div><div class="row">
      {% endif %}
  {% endfor %}
</div>
</div>

<h2 class="bossname1"  data-toggle="collapse" data-target=#rotating_items_shop><u>ROTATING ITEMS SHOP</u></h2>
<div id="rotating_items_shop"class="jumbotron collapse">
<div class="row">
  {% for i, v in rotating_items_shop.items %}
  <div class="col-md-3">
  <h4><b>{{v.name}}</b> [{{v.stock}}]</h4>
  <h4>({{v.id}})</h4>
  <h4>{{v.price}} gold</h4>
  </div>

      {% if forloop.counter|divisibleby:4 and not forloop.last %}
      </div><div class="row">
      {% endif %}

  {% endfor %}

</div>
</div>

<h2 class="bossname1"  data-toggle="collapse" data-target=#standard_shop><u>STANDARD SHOP</u></h2>
<div id="standard_shop"class="jumbotron collapse">
  <div class="row">
    <h4 class="col-md-3">{{standard_shop.0}} [unlimited]</br> 500 gold</h4>
    <h4 class="col-md-3">{{standard_shop.1}} [unlimited]</br> 500 gold</h4>
    <h4 class="col-md-3">{{standard_shop.2}} [unlimited]</br> 70 gold</h4>
    <h4 class="col-md-3">{{standard_shop.3}} [unlimited]</br> 110 gold</h4>
  </div>
</div>

{% endblock %}
