<!DOCTYPE html>
{% extends "grumbo/base.html"%}
{% block content %}


<body>
<form class='tokenform' action="{%url 'discord_bind:token_assign'%}" method="GET">
  {%csrf_token%}
  <h2>Look at your Browser URL and find access_token='  ' and copy the code</h1>
  <h2>Enter your Access Token Below:</h1>
  <input type="text" name="mytextbox" value=""> <br></br>
  <input type="submit" name="mybtn" value="Save Token">
  <h2>Your token is {{realtoken}}</h1>
  <h2>Your Data {{res}}</h2>
</form>
</body>
</html>
{% endblock %}
