#marcos{
  height: 30%;
  width:49%;
}
body{
  background-color: #292929
}
#mainnav{
  background-color: #292929;
  font-size:
}
/* Targets navbar text */
#mainnav li a {  
  color: white;
}
span  {
}
span.title{
  font-size: 50px;
}
