#marcos{
  height: 30%;
  width:49%;
}
#GrumBot{

}
body{
  background-color: #292929
}
#mainnav{
  background-color: #292929;
  font-size:
}
h1{
  color:white;
}
/* Targets navbar text */
#mainnav li a {
  color: white;
}
span  {
}
span.title{
  font-size: 50px;
}
#disc{
        display: center;
        width: 25%;
        align-items: center;
      justify-content: center;
        background: #7289DA;
        padding: 0 20px;
        line-height: 35px;
        color: #fff;
        font-family: 'Helvetica', 'Arial', sans-sefir;
        font-size: 20px;
        display: block;
        border-radius: 3px;

}
