#GrumBot{

}
h2{
  color:white;
}

h3{
  color:white;
}
h4{
  color:white;
}
body{
  background-color: #292929
}

.container .tokenform h2{
  color:white;
}
.container h4  {
  color:white;
}
.container h3  {
  color:white;
}
.container h1  {
  color:white;
}

.classtitle{
  text-align: center;
}
/* Jumbotron Info */
div.jumbotron{
background-color:#D3D3D3 !important;
}
 div.jumbotron h1 {
  color:black;
  text-align: center;
}
div.jumbotron h2 {
 color:black;
 text-align: center;
}

.container .jumbotron h2{
  color:black;
}
.container .jumbotron h3{
  color:black;
}
.container .jumbotron h4{
  color:black;
}

/* Targets navbar text */
#mainnav li a {
  color: white;
}
span  {
}
span.title{
  font-size: 50px;
}
#mainnav{
  background-color: #292929;
  font-size:
}
/* Discord Box */
#disc{
    display: center;
    width: 25%;
    align-items: center;
  justify-content: center;
    background: #7289DA;
    padding: 0 20px;
    line-height: 35px;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-sefir;
    font-size: 20px;
    display: block;
    border-radius: 3px;

}
/* Icons */
h4.firstrow  {
  margin-bottom: -6%;
}
h4.secondrow  {
  margin-bottom: -6%;
}
h4.thirdrow  {
  border-bottom: -15%;
  margin-bottom: -2%;
}
/* Stats Icons */
#hp{
  height: 8%;
  width:8%;
  margin-left: -3%;
  padding-left: -15%;
  padding-right: -5%;
  margin-right: -3%;
  box-sizing: 10%;
}
#pow{
  height: 8%;
  width:8%;
  margin-left: -3%;
  padding-left: -15%;
  padding-right: -5%;
  margin-right: -3%;
}
#wis{
  height: 8%;
  width:8%;
  margin-left: -3%;
  padding-left: -15%;
  padding-right: -5%;
  margin-right: -3%;
}
#def{
  height: 8%;
  width:8%;
  margin-left: -3%;
  padding-left: -15%;
  padding-right: -5%;
  margin-right: -3%;
}
#res{
  height: 8%;
  width:8%;
  margin-left: -3%;
  padding-left: -15%;
  padding-right: -5%;
  margin-right: -3%;
}
#spd{
  height: 8%;
  width:8%;
  margin-left: -3%;
  padding-left: -15%;
  padding-right: -5%;
  margin-right: -3%;
}
#luk{
  height: 8%;
  width:8%;
  margin-left: -3%;
  padding-left: -15%;
  padding-right: -5%;
  margin-right: -3%;
}
